.mid-content {
				width: 200px; text-align:center;
			}
		header {
		      margin:20px 0px 30px 0px;
			  margin-left: auto;
			  margin-right: auto;
		}
		section{
				padding:20px 0px 100px 0px;
		 margin-left: auto;
			  margin-right: auto;
		}
		footer{
				margin: 10px 0;
				margin-left: auto;
			  margin-right: auto;
		
		}